<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Prism</title>
	<!-- Don't forget to add your metadata here -->
	<link rel='stylesheet' href='<%= asset("css/style.min.css") %>' />
</head>
<body>
	<% include ./partials/navbar %>
	<!-- Hero unit -->
	<div class="hero">
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner">
						<div class="hero__scatter__container">
							<div class="hero__scatter__child glass"></div>
							<div class="hero__scatter__child desk"></div>
							<div class="hero__scatter__child watch"></div>
						</div>
						<h1 class="hero__title">Write code, hit publish and done!</h1>
						<p class="hero__text">Your app will be available for anyone to install on any device or board running Prism OS, where it can run besides other apps!</p>
						<a href="javascript:;" class="button button__accent" data-micromodal-trigger="modal-1">Coming Soon</a>
						<a href="/the-goal" class="button hero__button">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub" id='navConverter'>
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
	</div>
	<!-- Steps -->
	<div class="steps landing__section">
		<div class="container">
			<h2>What can Prism OS do ?</h2>
			<p>Prism OS allows developers to make modern apps and widgets with ease, and makes distributing it with the world even easier</p>
		</div>
		<div class="container">
			<div class="steps__inner">
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_elements.svg" class="step__image">
					</div>
					<h4>Simple UIs</h4>
					<p class="step__text">Write UIs with easy to use graphics API</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_sync4_xlc6.svg" class="step__image">
					</div>
					<h4>Push notifications</h4>
					<p class="step__text">Prism OS implements an simple notification system, push notifications easily</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_design.svg" class="step__image">
					</div>
					<h4>Run multiple apps at once</h4>
					<p class="step__text">Users can install multiple apps on the same device and have them run side by side</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Expanded sections -->
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/undraw_Calculator_0evy.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Simple APIs with no learning curve</h2>
					<p class="expanded__text">Arduino developers will find themselves right at home in Prism ecosystem! Get starting writing apps immediately. Developers don't need to worry about nitty-gritty of platform or device specific APIs! We handle those and provide a clean and simple API on top</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/undraw_browser.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Multiple apps and widgets</h2>
					<p class="expanded__text">You don't have to keep flashing again and again to try different apps, multiple apps can run together on Prism OS, can users can try out multiple apps without removing the existing ones already installed. <span class="stress">Our technology enables these low power embedded boards to not only run third party apps on the fly, something not possible till now, but also run multiple apps at the same time!</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/together.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Prototype and deploy rapidly</h2>
					<p class="expanded__text">Throw out the usb cable as Prism allows you to install apps Over The Air from anywhere, installing apps is literally just pressing install on the App Store, no more flashing or serial cables</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Call To Action -->
	<div class="cta cta--reverse">
		<div class="container">
			<div class="cta__inner">
				<h2 class="cta__title">Learn more</h2>
				<p class="cta__sub cta__sub--center">Read up on how to install Prism OS and start developing and installing some apps</p>
				<a href="javascript:;" class="button button__accent" data-micromodal-trigger="modal-1">Coming Soon</a>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="footer footer--dark">
		<div class="container">
			<div class="footer__inner">
				<a href='/' class="footer__textLogo">Prism</a>
				<div class="footer__data">
					<div class="footer__data__item">
						<div class="footer__row">
								<a href="mailto:sid.swapnildevesh@gmail.com" class="footer__link">Contact Us</a>
						</div>
					</div>
					<div class="footer__data__item">
						<div class="footer__row">
								© 2018 Prism OS. All rights reserved
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ./partials/modal %>
	<script src='<%= asset("js/app.min.js") %>'></script>
	<% include ./partials/analytics %>
</body>
</html>
