<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Prism | Who is it for</title>
	<link rel='stylesheet' href='<%= asset("css/style.min.css") %>' />
</head>
<body>
	<% include ./partials/navbar %>
	<% include ./partials/page_hero %>
	<!-- Page content -->
	<div class="page">
		<div class="container">
			<div class="page__inner">
				<div class="page__menu">
					<ul class="vMenu">
						<li><a href="/the-goal">The Goal</a></li>
						<li><a href="/who-is-it-for" class="vMenu--active">Who is it for</a></li>
						<li><a href="/how-it-works">How it works</a></li>
					</ul>
				</div>
				<div class="page__main">
					<div class="text-container">
						<h3 class="page__main__title">Who is it for</h3>
						<p>
							Prism OS can work with embedded devices of multiple form factors, it can support devices with displays, like <span class='stress'>smartwatches, desk widgets, smart glasses, notifiers</span> etc with all varying or even no input mechanisms (in which case the companion app  becomes the sole way of controlling the device),
							or it can also be used in devices without displays like <span class='stress'>smart switches, smart lights and all sorts of other IoT devices</span>.
						</p>
						<p>
							<span class='stress'>OEMs</span> can use our platform to quickly bring hardware devices to market with Prism handling the software side of things, including the firmware, app store, updates etc <span class='stress'>(sort of like Android for smartphones, but for connected devices)</span>.
						</p>
						<p>Its a great platform for <span class='stress'>DIY electronics enthusiasts</span> and <span class='stress'>tinkerers</span> to quickly build out apps and also share it with others, even those without technical know how of flashing boards or using terminals.</p>
						<p>We hope that Prism would allow the DIY electronics movement to spread even further and also allow more varied and better hardware devices to hit the market with a vibrant ecosystem of apps and developers backing them.</p>
						<p>Our inspiration for Prism came when we realised that with projects like Arduino, Rasberry Pi, Micro Bit and countless others, <span class='stress'>a lot more people are now building stuff in electronics than ever before, and they are building all sorts of stuff that are not even meant to be embedded like games, desk widgets, weather displays etc</span>.</p>
						<p>But with all these projects a major problem has been that there is no way to distribute apps to a larger audience with lesser technical skills, and so we created Prism to solve that.</p>
						<p>Prism can also be a <span class='stress'>great learning tool for people new to C, C++ and embedded development</span> by providing an easier way to quickly experiment, learn to develop and deploy apps, providing a <span class='stress'>much quicker feedback than existing technologies</span>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src='<%= asset("js/app.min.js") %>'></script>
</body>
</html>